<!DOCTYPE html>
<html>
<head>
  <title>Pkproject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= google_font_link_tag "Puritan" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= view_id %>">
  <header id="header">
    <h1><%= link_to_unless_current 'pkProject', root_url %></h1>
  </header>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
