<!DOCTYPE html>
<html>
<head>
  <title>Pkproject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= google_font_link_tag "Puritan" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= view_id %>">
  <nav id="topNav">
    <% if controller.action_name == 'home' %>
      <%= link_to 'Bricks', bricks_path, class: 'left' %> 
      <%= link_to 'Categories', categories_path %>
      <%= link_to 'States', states_path %>
      <%= link_to_unless_current 'About', about_path %>
    <% else %>
      <%= link_to_unless_current 'About', about_path, class: 'left' %>
    <% end %>
    <%= link_to_unless_current 'Help', help_path %>
    <%= link_to_unless_current 'Contact', contact_path %>

  </nav>
  
  <div id="container">
    <header id="header">
      <h1><%= link_to_unless_current 'pkProject', root_url %></h1>
      <% unless controller.action_name == 'home' %>
        <nav>
          <%= link_to 'Bricks', bricks_path, class: 'left' %> / 
          <%= link_to 'Categories', categories_path %> / 
          <%= link_to 'States', states_path %>
        </nav>
        <% unless controller.controller_name == 'search' %>
          <%= render 'shared/search_box' %>
        <% end %>
      <% end %>
    </header>

    <div id="content">
      <%= yield %>
    </div>
  
    <footer id="footer">
      <p id="copy">
        <a href="http://www.umc.edu">The University of Mississippi Medical Center</a>
      </p>
    </footer>
  </div>
</body>
</html>
