<!DOCTYPE html>
<html>
<head>
  <title>Pkproject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= google_font_link_tag "Puritan" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= view_id %>">
  <nav id="topNav">
    <%= show_links %>
  </nav>
  
  <div id="container">
    <header id="header">
      <h1><%= link_to_unless_current 'pkProject', root_url %></h1>
      <%= show_header_nav %>
    </header>

    <div id="content">
      <%= yield %>
    </div>
  
    <footer id="footer">
      <p id="copy">
        <a href="http://www.umc.edu">The University of Mississippi Medical Center</a>
      </p>
    </footer>
  </div>
</body>
</html>
